@font-face {
    font-family: 'AeonikTRIAL';
    src: url('/fonts/AeonikTRIAL-Bold.otf') format('opentype'),
         url('/fonts/AeonikTRIAL-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Plush';
    src: url('/fonts/Plush-Bold-BF654c40144cc74.otf') format('opentype'),
         url('/fonts/Plush-ExtraBold-BF654c4014409f5.otf') format('opentype'),
         url('/fonts/Plush-Medium-BF654c401412ccd.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Rubik';
    src: url('/fonts/Rubik-Black.ttf') format('truetype'),
         url('/fonts/Rubik-Bold.ttf') format('truetype'),
         url('/fonts/Rubik-ExtraBold.ttf') format('truetype'),
         url('/fonts/Rubik-Italic-VariableFont_wght.ttf') format('truetype'),
         url('/fonts/Rubik-Medium.ttf') format('truetype'),
         url('/fonts/Rubik-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  

/* Add more font-face declarations here for other font styles/weights */


/* Example usage */
body {
    font-family: 'Aeonik', sans-serif;
}

/* ============== Service slider Start =============== */

@keyframes scroll {
    0% {
        transform: translateX(0);
    }


    100% {
        transform: translateX(calc(-330px * 5));
    }
}

.slide-track {
    display: flex;
    gap: 5rem;
    animation: scroll 15s linear infinite;
    width: calc(330px * 10);
}

.container {
    overflow: hidden;
}


.slide-track:hover {
    animation-play-state: paused;
}


/* ============== Service slider End =============== */
/* ============================= */
/* Video Section Styling */
.video-section {
    position: relative;
    width: 100%;
    height: auto;
    background: #f0f0f0;
    padding: 50px 0;
    overflow: hidden;
}

/* Wave Background Styling */
.wave-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    justify-content: space-between;
}

.wave-left,
.wave-right {
    position: absolute;
    width: 650px;
    height: auto;
    opacity: 0.5;
    pointer-events: none;
}

.wave-left {
    left: 0;
    top: 40%;
    transform: translateY(-50%);
}

.wave-right {
    right: 0;
    top: 40%;
    transform: translateY(-50%);
}

/* Video Container */
.video-container {
    position: relative;
    max-width: 920px;
    margin: 0 auto;
    z-index: 2;
    background: white;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Video Frame */
.video-frame {
    position: relative;
    border: 4px solid #9c27b0;
    border-radius: 20px;
    overflow: hidden;
}

#video {
    display: block;
    width: 100%;
    border-radius: 20px;
}

/* Play Button */
.play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80px;
    height: 80px;
    background: rgba(255, 255, 255, 0.9);
    border: 2px solid #9c27b0;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}

.play-button i {
    font-size: 36px;
    color: #9c27b0;
}

.play-button:hover {
    transform: translate(-50%, -50%) scale(1.1);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

/* Responsive Design */
@media screen and (max-width: 768px) {
    .video-container {
        max-width: 90%;
    }

    .wave-left,
    .wave-right {
        width: 200px;
    }
}

/* ============ Video section End ================= */

/* ============= Services Start ================ */




.section-title {
    font-size: 3rem;
    margin-bottom: 40px;
    font-weight: bolder;
    text-align: left;
}

/* Service Item */

/* Service Content */
.services-list .service-item .service-content {
    visibility: visible;
}

.services-list .service-item:hover .service-description {
    visibility: visible;
    opacity: 1;
    color: #ffffff;
    transition: opacity 1s ease-in-out, visibility 1s ease-in-out;
}

.services-list .service-item:hover .service-btn {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
    margin: 20px 0 !important;
    transition: opacity 1s ease, transform 1s ease, margin 0.3s ease;
}


/* Order Number */
.services-list .service-item:hover .service-number {
    transform: translateY(-10px);
}

/* Service Image */
.services-list .service-item .service-image img {
    transition: transform 1s ease-in-out;
}

.services-list .service-item:hover .service-image img {
    transform: scale(1.1) rotate(30deg) translate(-35%, 35%);
}


.services-list>.service-item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 1px;
    background: rgba(255, 255, 255, 0.3);
    transition: transform 1s ease-in-out;
}

/* Responsive Design */
@media screen and (max-width: 768px) {
    .services-list .service-item {
        flex-direction: column;
        align-items: flex-start;
    }

    .service-image {
        width: 100%;
        height: auto;
    }

    .service-content {
        text-align: center;
    }
}


/* ============= Services End ================ */

/* ============= Pricing plan Start ================ */




/* ============= Pricing plan End ================ */

/* ============= Footer Start ================ */
.footer {
    background: linear-gradient(0deg, #9614a7 0%, #520c5c 100%);
    color: #fff;
    padding: 50px 20px;
}


.footer .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


.footer-column {
    flex: 1;
    min-width: 250px;
    margin: 10px;
}


.footer-column h3 {
    font-size: 1.5em;
    margin-bottom: 20px;
}


.footer-column p {
    font-size: 0.9em;
    line-height: 1.5em;
    margin-bottom: 20px;
    color: #eaeaea;
}


.footer-column ul {
    list-style: none;
    padding: 0;
}


.footer-column ul li {
    margin-bottom: 10px;
}


.footer-column ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 0.9em;
}


.footer-column ul li a:hover {
    text-decoration: underline;
}


.social-icons {
    display: flex;
    gap: 10px;
}


.social-icons a {
    display: inline-block;
    width: 40px;
    height: 40px;
    background: #520c5c;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    color: #fff;
    font-size: 1.2em;
    transition: background 0.3s;
}


.social-icons a:hover {
    background: #9614a7;
}


.icon-box {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #520c5c;
    border-radius: 8px;
    color: white;
}


.footer-bottom {
    background-color: #3f0d48;
    padding: 15px 20px;
    text-align: center;
    color: #fff;
    font-size: 0.9em;
}


.footer-bottom a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}


.footer-bottom a:hover {
    text-decoration: underline;
}


.ebbrand {
    font-family: "CocaCola", sans-serif;
}


/* ============= Footer End ================ */

/* ============= H&Q Start ================ */
.faq-item:hover .faq-answer {
    max-height: 500px;
    opacity: 1;
}

.faq-item {
    position: relative;
    padding: 1.5rem 0;
    border-top: 1px solid #ddd;
    /* Horizontal line */
    border-top: 1px solid #ddd;
    /* Horizontal line */
    cursor: pointer;
}


.faq-item h5 {
    font-size: 1.3rem;
    font-weight: 600;
    color: #333;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: color 0.3s ease;
}


.faq-item:hover h5 {
    color: #9614a7;
}


.faq-item p {
    font-size: 1.15rem;
    color: #555;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    margin: 0;
    max-width: 90%;
}


.faq-item.open p {
    max-height: 100px;
    opacity: 1;
    margin-top: 1rem;
}


.faq-item .icon {
    font-size: 1.5rem;
    transition: transform 0.3s ease;
}


.faq-item.open .icon {
    transform: rotate(45deg);
    /* Transform plus to minus */
    transform: rotate(45deg);
    /* Transform plus to minus */
}


/* ============= H&Q End ================ */

/* ============= newsletter Start ================ */
/* .newsletter-section {
    background: url("{{ asset('../images/services/newsletter.png') }}") no-repeat center center;
    background-size: cover;
    padding: 50px 20px;
    text-align: center;
    color: white;
}

.newsletter-content h2 {
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: bold;
}

.newsletter-content form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.newsletter-content input[type="email"] {
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    width: 300px;
    max-width: 100%;
    font-size: 16px;
}

.newsletter-content button {
    background-color: #ff007f;
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 25px;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.newsletter-content button i {
    margin-left: 5px;
}

.newsletter-content button:hover {
    background-color: #e60072;
} */

/* ============= newsletter End ================ */

/* ============= Chatbot Start ================ */
/* Chatbot Icon */
#chatbot {
    width: 60px;
    height: 60px;
    transition: all 0.3s ease;
}

#chatbot:hover {
    transform: scale(1.1);
    /* Slight zoom on hover */
}